body{
    border: green 1px solid;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: orangered 1px solid;
    background-color: #1f2937;

    padding: 30px 50px;
    
    &   .logo{
        display: flex;
        margin: auto 0;
        font-weight: bolder;
    }
    
    & ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}
