body{
    border: green 1px solid;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: orangered 1px solid;
    color: white;
    background-color: #1f2937;

    padding: 30px 50px;
    
    &   .logo{
        display: flex;
        margin: auto 0;
        font-weight: bolder;
    }
    
    & ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}



.content1{
    color: white;
    background-color: #1f2937;

    & .TwoCards{
        display: flex;
        flex-direction: row;
        padding: 30px 50px;    
    }
    
    & .leftCard{
        flex:1;
    }
    & .leftCardTitle{
        font-weight: bolder;
        font-size: 3rem;
    
    }
    & .leftCardContent {
        margin: 10px 0;    
    }
        
    & .rightCard{
        flex:1;
    }
}

.content2{
    border: red 1px solid;

    & .wrapper{
        display: flex;
        flex-direction: column;
        padding: 30px 50px;  
        
        & .title{
            font-weight: bolder;
            font-size: 2rem;
            margin: 0 auto;
            padding: 30px 0;
        }

        & .cardsWrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
            & .card{


                & .box{
                    width: 150px;
                    height: 150px;
                    border-radius: 10px;
                    border: #566787 3px solid;
                    margin: 0 auto;
                }

                & .text{
                    font-size: 1rem;
                    width: 150px;
                }
            }

        }
    }

} 

button{
    
    background-color: #3882F6;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    font-weight: bolder;
}